*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
li{
    list-style: none;
    margin: 10px;
}
.item{
    display: flex;
}
.a{
    width: 30%;
}
.b {
    flex: 1;
}
